.specification button{
    padding: 3px 15px;
    border-radius: 5px;
}
.specification button:hover{
    background-color: #3230eb;
    color: #fff;
    transition: .3s;
}
.promo-area button{
    background-color: #dc3545;
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
}
tr:last-child {
    border-color: #fff;
}

tr:nth-child(4) {
    border-bottom-width: 2px;
    border-color: #000;
}
td{
    font-weight: 700;
}